# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv/
venv/
venv_cuda/
ENV/
env/
.env

# Weights & Dataset
weights/
dataset/classroom_data/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# YOLO Runs & Training Cache
runs/
*.cache

# Local Database
database/*.db

# Local Storage Captures & Reports (Tránh đẩy ảnh camera trường lên git)
storage/captures/
storage/annotated/
storage/reports/
storage/*.jpg
storage/*.png
storage/*.json

# Logs
logs/*.log

# Scratch / Temp
scratch/
clone_phat/

# OS specific
.DS_Store
Thumbs.db
desktop.ini
